button {
  border: none;
}
.btn {
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn.btn-myprimary {
  background-color: $myprimary-color;
  color: white;

  box-shadow: 0 2px 4px rgb(0 0 0 / 8%);
  border: 1px solid $white-color !important;
}
.btn.btn-myprimary:hover {
  color: white; // darken(white, 20%);
  background-color: lighten($myprimary-color, 10%);
}

.btn.btn-mylight {
  background-color: white;
  color: $myprimary-color;

  box-shadow: 0 2px 4px rgb(0 0 0 / 8%);
  border: 1px solid $myprimary-color !important;
}
.btn.btn-mylight:hover {
  color: $myprimary-color; // darken($myprimary-color, 20%);
  background-color: darken(white, 10%);
}

.btn-mytext {
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
}

// md
@media (max-width: 767px) {
  .btn-md-49-percent {
    width: 49% !important;
  }
}
