$white-color: #ffffff;
$black-color: #000000;
$bg-color: #FBFCFE;

$myprimary-color: #003cb2; //darken(#6171ff, 55%);
.bg-myprimary-color {
  background-color: $myprimary-color;
}
.text-myprimary-color {
  color: $myprimary-color;
}
