.font-xsmall-size {
  font-size: 10px;
}
.font-small-size {
  font-size: 14px;
}
.font-normal-size {
  font-size: 16px;
}
.font-medium-size {
  font-size: 18px;
}
.font-large-size {
  font-size: 20px;
}
.font-xlarge-size {
  font-size: 24px;
}
