@import 'color';

@import 'reset';

@import 'font';

@import 'button';

@import 'position';

@import 'global';
.section {
  margin-top: 15px;
  margin-bottom: 15px;
  .name {
    color: #b3b3b3;
    font-size: 14px;
  }
  .content {
    color: #414141;
    font-size: 16px;
    word-break: break-all;
  }
}
label {
  font-size: 14px;
}
// File: custom.scss

// Define your variable overrides here
$enable-shadows: true;
$enable-gradients: true;
$grid-breakpoints: (
  xs: 0,
  sm: 456px,
  md: 789px,
  lg: 999px,
  xl: 1234px,
);
$bv-enable-table-stacked: false;

// Include Bootstrap and BootstrapVue SCSS files
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';

// General style overrides and custom classes
body {
  margin: 0;
}

.b-pagination-pills .page-item .page-link {
  border-radius: 4px !important;
}

.page-item.active .page-link {
  background-color: $myprimary-color !important;
}

.fact-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding: 20px;
  width: 100%;
  .name {
    color: #8898aa;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 5px;
  }
  .value {
    font-size: 20px;

    text-align: center;
    color: #32325d;
  }

  .value.primary {
    color: $myprimary-color;
    font-weight: bold;
  }
}

// v-select
@import '~vue-select/dist/vue-select.css';

.vs__dropdown-toggle {
  height: 38px;
}
.vs__clear {
  display: flex;
  align-items: center;
}
.selectError > .vs__dropdown-toggle {
  border-color: rgba(220, 53, 69, 0.9);
}
.selectStatus {
  display: inline-block;
  color: #fff;
  background-color: rgba(220, 53, 69, 0.9);
  border-radius: 4px;
  margin-top: 1px;
  padding: 4px 8px;
}

a {
  color: $myprimary-color !important;
}
